#
####### requirements.txt #######
#
###### Requirements without Version Specifiers, used for --play only. ######
flask
#
#
###### Requirements without Version Specifiers, used for --combine only. ######
ffmpeg-python
#
#
###### Requirements without Version Specifiers, used for --download only. ######
progressist
pySmartDL
#
